# Ignore all .log files
**/*.log

# Ignore the build directory
./built/model/
./built/static/
./built/audio/


# Ignore a specific file
**/.python-version
**/.venv
**/.
**/..
**/.DS_Store
**/.cache
**/*.gguf

#Igonre any directory named "models"
**/models/*
**/models/
**/model/built/audio/*.wav
built/static/audio/*.wav
voice-cloning/inputs/*.wav
voice-cloning/outputs/*.wav
