google-auth==1.4.2 
ipykernel==4.6.1 
ipython==5.5.0 
notebook==5.2.2 
six==1.12.0 
flask
flask-cors
flask-sse
torch
pydub
torchaudio 
soundfile 
librosa
chevron
torch
TTS
flask_cors
llama-cpp-python
huggingface-hub
celery 
redis
