google-auth==1.4.2 
ipykernel==4.6.1 
#ipython==6.1.0 
notebook==5.2.2 
six==1.12.0 
flask
flask-cors
flask-sse
torch
pydub
torchvision
torchaudio 
soundfile 
librosa
chevron
TTS
flask_cors
llama-cpp-python
huggingface-hub
celery 
redis
peft -q # This needs to be check by Deniz
accelerate
numpy==1.26.4
#!pip install git+https://github.com/huggingface/diffusers
optimum-quanto
#!pip install transformers --upgrade 