body#gallery {
    display: grid;
    grid-template-rows: var(--height-header) auto auto auto 100px; /* Define rows including the footer */
    min-height: 100vh; /* Ensure the grid spans the full viewport height */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 var(--body-padding) 0 var(--body-padding); /* Remove bottom padding */
    background: radial-gradient(circle at center, 
        #f9eac7, 
        #f7e3b3,
        #f5dcA0, 
        #f3d4a0, 
        #f1c1a0, 
        #f5b3b3,
        #f7e3b3, 
        #f9eac7  
    );
    background-size: 400% 400%;
    animation: subtleGradientAnimation 15s ease infinite; 
    --body-padding: 10px;
    --width: calc(100% - 2 * var(--body-padding));
    --gap: calc(3 * var(--body-padding));
    --height-header: 400px;
    --number-columns: 12;
}

@media screen and (min-width: 600px) {
    body#gallery {
        --height-header: 600px;
    }
}

@media screen and (min-width: 900px) {
    body#gallery {
        --height-header: 700px;
    }
}

@keyframes subtleGradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
    75% {
        background-position: 50% 0%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header-container {
    grid-column: 1 / -1; 
    grid-row: 1; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; 
    padding: 20px;
    margin-bottom: calc(3 * var(--body-padding));
    border-radius: 0 0 25px 25px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
        0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1),
        0 8px 8px rgba(0, 0, 0, 0.1);
    background-image: url('../../built/static/image/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    text-align: center;
}


@media screen and (min-width: 600px) {
    .header-container {
        background-position: center bottom;
    }
}

@media screen and (min-width: 1200px) {
    .header-container {
        background-position: center bottom;
        width: 1200px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.title {
    align-items: center;
    height: var(--header-height);
    padding: 10px;
    margin-top: -50px;
}

@media screen and (min-width: 600px) {
    .title {
        align-items: center;
        height: var(--header-height);
        padding: 50px;
    }
}

.title h1 {
    margin: 0;
    font-size: var(--font-size-15);
    line-height: var(--line-height-1);
    color: #333;
    text-align: right;
}

.title h1 span {
    font-size: var(--font-size-4);
    line-height: var(--line-height-1);
    color: #333;
    text-align: left;
    margin-right: -30px;
}

@media screen and (min-width: 600px) {
    .title h1 {
        margin: 0;
        font-size: var(--font-size-15);
        line-height: var(--line-height-1);
        color: #333;
        text-align: right;
    }
    .title h1 span {
        font-size: var(--font-size-4);
        line-height: var(--line-height-1);
        color: #333;
        text-align: left;
        margin-right: -30px;
    }
}

@media screen and (min-width: 900px) {
    .title {
        padding: 100px;
        margin-top: -80px;
    }
    .title h1 {
        margin: 0;
        font-size: var(--font-size-25);
        line-height: var(--line-height-175);
        color: #333;
        text-align: right;
    }
    .title h1 span {
        font-size: var(--font-size-6);
        line-height: var(--line-height-1);
        color: #333;
        text-align: left;
        margin-right: -30px;
    }
}

.story-generator-box {
    grid-column: 1 / -1; /* Span full width */
    grid-row: 2; /* Place in the second row */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    width: calc(100% - 2 * var(--body-padding));
}

.generate-story-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color-first);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.generate-story-btn:hover {
    background-color: var(--color-first-dark-1);
}

.generate-story-explanation {
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    color: #333;
}

@media screen and (max-width: 768px) {
    .story-generator-box {
        flex-direction: column;
        text-align: center;
    }

    .generate-story-btn {
        margin-bottom: 15px;
    }

    .generate-story-explanation {
        margin-left: 0;
    }
}

.gallery-container {
    grid-column: 1 / -1; 
    grid-row: 3; /* Place in the third row */
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr)); 
    gap: var(--gap);
    padding: var(--body-padding);
}

@media screen and (min-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 1200px) {
    .gallery-container {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        background-position: center bottom;
        width: 1200px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}


.story {
    position: relative;
    aspect-ratio: 16 / 9;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
}

.story span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
}

.button-container {
    grid-column: 1 / -1; /* Span full width */
    grid-row: 4; /* Place in the fourth row */
    display: flex;
    justify-content: center;
    padding: 20px;
}

.load-more {
    height: 50px;
    line-height: calc(50px - 16px);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
}

.load-more:hover {
    background-color: #555;
}

.footer {
    grid-column: 1 / -1; /* Span full width */
    grid-row: 5; /* Place in the fifth row */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px 25px 0 0;
    height: 100px; /* Set fixed height */
    padding: 20px; /* Optional: adjust padding as needed */
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure it spans the full width */
    align-self: end; /* Align the footer to the bottom */
}

@media screen and (min-width: 600px) {
    .footer {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 1200px) {
    .footer {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        background-position: center bottom;
        width: 1200px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-content {
    max-width: 1200px; /* Optional: limit the width */
    margin: 0 auto; /* Center the content */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items */
    text-align: center; /* Center text */
    height: 100%; /* Ensure content takes full height */
    justify-content: center; /* Center content vertically */
}

.footer-nav a {
    margin: 0 15px; /* Space between links */
    text-decoration: none;
    color: #333; /* Link color */
    font-weight: bold; /* Bold links */
}

.footer-nav a:hover {
    text-decoration: underline; /* Underline on hover */
}